/* Work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@900&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Shared style */
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border: none; 
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    cursor: pointer;
}

.text-light-gray{
    color: #727272;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
}

/* Header section style */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav> ul{
    display: flex;
    text-decoration: none;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;/*   4rem=4*16=64  */
    font-weight:700 ;
    color: #131313;
}

.banner img{
    margin: 20px;
    width: 100%;
}

/* Main Styles */
main{
    max-width: 1440px;
    margin: 70px 100px;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-title .quick-list{
    font-weight: 500;
}
.teams-title .text-features{
    color:#131313;
}
.teams-title .quick-list-3{
    color:#FF900E;
}

/* Some Facts section*/
.facts-card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    text-align: center;
    border-radius: 8px;
    width: 200px;
    padding: 30px;
    border: 1px solid #FF900E;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Responsive media quires */

    /* For Mobile Devices */
    @media screen and (max-width: 576px) {
        header{
            padding: 20px;
        }
        nav,
        .teams-container
        {
            flex-direction: column;
        }
        .banner-title{
            font-size: 3rem;
        }
        .nav-title{
            font-size: 2rem;
        }
        .banner img{
            margin: 5px;
        }

        .teams-img-container{
            grid-template-columns: 1fr;
        }
        .teams-title{
            font-size: 2rem;
            font-weight: 600;
        }

        .teams-content{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    /*For tablet or Medium devices */
    @media screen and (min-width:576px )and (max-width: 960px) {
        header{
            padding: 50px;
        }
        nav,
        .teams-container
        {
            flex-direction: column;
        }
    }
    