/* Work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@900&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Shared style */
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border: none; 
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    cursor: pointer;
}

/* Header section style */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
}
nav> ul{
    display: flex;
    text-decoration: none;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;/*   4rem=4*16=64  */
    font-weight:700 ;
    color: #131313;
}
.banner-description{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}

.banner img{
    margin: 20px;
    width: 100%;
}

/* Responsive media quires */

    /* For Mobile Devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .banner-title{
        font-size: 3rem;
    }
    .nav-title{
        font-size: 2rem;
    }
    .banner img{
        margin: 5px;
    }
}
/*For tablet or Medium devices */
@media screen and (min-width:576px )and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}


/* Main Styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.teams-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-features{
    color:#131313;
}
.teams-title .quick-list-3{
    color:#FF900E;
}